@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
    font-size: 1.2em;
}

.text-title {
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    color: brown;
}

.text-sub{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: cornflowerblue;
}

.bg-title {
    background-image: linear-gradient(to bottom right, #E8564F, #FF8E4F);
}